<html>
   <head>
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>
   </head>
<body>
  <div id="container"></div>

  <form method="POST" action="/">
    <select name="currency">
      <option value="BCH">BCH</option>
      <option value="BTC">BTC</option>
      <option value="ETH">ETH</option>
      <option value="LTC">LTC</option>
    </select>
    <br><br>
    <input type="submit">
  </form>

</body>
</html>
